<!DOCTYPE html>
<html lang="en">
<head>
    <!--NOTE: Most Web WorldWind home use jquery, Bootstrap and requirejs but those technologies are NOT-->
    <!--required by Web WorldWind. See SimplestExample.html for an example of using Web WorldWind without them.-->
    <title>Invasive Species Heatmap Project - Heat Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="../css/menu.css"/>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <script data-main="../scripts/heatmap/Main.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js"></script>
    <!--<script worldwind="../scripts/heatmap/Main.js"></script>-->
    <style>
        body {
            padding-bottom: 80px;
        }

        .note {
            color: #959595;
        }

        .floating-Box {
            display: inline-block;
        }

        .box1 {
            margin-left: 100px;
            position: absolute;
            width: 250px;
            height: 900px;
        }

        .navbutton1 {
            width: 110px;
            font-size: 16px;
            height: 80px;
            margin: 0;
            border-radius: 0px 0 0;
            background-color: #000000;
            border: 0 solid;
            color: #ffffff;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

        .navbutton1:hover {
            background-color: #333;
            color: white;
        }

        .navul {
            margin: 0;
            padding: 0;
        }

        /*.button1 {*/
            /*height: 40px;*/
            /*width: 455px;*/
            /*border-radius: 15px;*/
            /*-webkit-transition-duration: 0.4s;*/
            /*transition-duration: 0.4s;*/
            /*cursor: pointer;*/
            /*background-color: white;*/
            /*color: #337ab7;*/
            /*border: 1px solid #337ab7;*/
        /*}*/

        /*.button1:hover {*/
            /*background-color: #337ab7;*/
            /*color: white;*/
        /*}*/

        table {
            overflow-x: auto;
            width: 100%;
            display: block;
            margin-bottom: 20px;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid #cdcdcd;
            text-align: center;
        }

        table th,
        table td {
            padding: 10px;
            text-align: left;
        }

        table::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        table::-webkit-scrollbar {
            -webkit-appearance: none;
            height: 7px;
        }

        .dropbutton {
            float: right;
            width: 150px;
            height: 80px;
            padding: 16px;
            color: white;
            background-color: #337ab7;
            border: none;
            cursor: pointer;
            font-size: 16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }
        .dropbutton:hover, .dropbutton:focus {
            background-color: #2b6699;
        }
        .dropdown-content {
            display: none;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            right: 0;
            z-index: 1;
        }
        .dropdown-content a {
            color: black;
            padding: 20px;
            text-decoration: none;
            display: block;
        }
        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 17px;
            top: 10px;
        }

        .switch input {display:none;}

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #2196F3;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 13px;
            width: 13px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(13px);
            -ms-transform: translateX(13px);
            transform: translateX(13px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 17px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
        .button1 {
            height: 40px;
            width: 195px;
            border-radius: 15px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #337ab7;
            border: 1px solid #337ab7;
        }

        .button1:hover {
            background-color: #337ab7;
            color: white;
        }
    </style>
</head>
<div class="navul" style="height: 80px;
    background: #000000;">
    <a class="navul" href="//aworldbridge.com" style="background: #000000;">
        <img class="banner" src="../pic/NewWBBanner.jpg" style="width: 520px;
    height: 80px;" />
    </a>
    <a href="/userHome" style="width: 110px;">
        <button class="navbutton1"> User Home </button>
    </a>
    <a href="/dataHistory" style="width: 110px;">
        <button class="navbutton1"> Data History </button>
    </a>
    <div class="dropdown" style="height: 80px; width: 200px; float: right; margin: 0;">
        <button onclick="dropDown()" class="dropbutton" id="Username">
            <%= user.firstName%>
            <span class="caret"></span>
        </button>
        <div id="userMenuAdmin" class="dropdown-content">
            <a href="/userProfile"> User Profile </a>
            <a href="/userManagement"> User Management </a>
            <a href="/signout"> Sign Out </a>
        </div>
        <div id="userMenuRegular" class="dropdown-content">
            <a href="/userProfile"> User Profile </a>
            <a href="/signout"> Sign Out </a>
        </div>
    </div>
</div>
<body>
<div class="container" style="width: 1400px;
    padding: 0px;">
    <div class="container center" style="width: 700px;
    padding: 0px;">
        <br>
        <div class="page-header text-center header">
            <h1><span class="fa fa-globe"></span><strong> Invasive Species Heatmap Project -  Heat Map </strong></h1>
            <h4><span class="fa fa-user"></span>&nbsp;<strong>Account Name</strong>: <%= user.username %></h4>&nbsp;&nbsp;                    &nbsp;&nbsp;                    &nbsp;&nbsp;                    &nbsp;&nbsp;
        </div>
    </div>
    <br>
    <div class="container" style="width: 100%; height: 1000px; overflow: hidden;
    padding: 0px;">
        <div class="floating-Box box1">
            <h5 class="note text-center" id="switchNote">NOTE: Toggled switch to temporarily view heatmap.</h5>
            <div class="text-center">
                Heatmap Layer
                <label class="switch">
                    <input type="checkbox" id="switchLayer" checked>
                    <span class="slider round"></span>
                </label>
                Placemark Layer
            </div>
            <br>
            <div style="border-style: solid;
        width: 250px;
        padding: 20px;" class="container">
                <!--<div>-->
                <!--<h4>Type: *</h4>-->
                <!--<select id="type">-->
                <!--<option></option>-->
                <!--<option value="temperature">Temperature</option>-->
                <!--<option value="humidity">Humidity</option>-->
                <!--</select>-->
                <!--</div>-->
                <div>
                    <h4 style="width: 460px;
        margin-top: 0px;"><strong>Heatmap Time Range: </strong></h4>
                    <h5 class="floating-Box" style="width: 50px;">From:</h5>
                    <input id="startDate" class="date" type="text" placeholder="Select Date" style="width: 195px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #c8c8c8;
        margin-right: 45px;
        padding-left: 10px;">
                    <h5 class="floating-Box" style="width: 35px;">To:</h5>
                    <input id="endDate" class="date" type="text" placeholder="Select Date" style="width: 195px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #c8c8c8;
        padding-left: 10px;">
                </div>

                <br>
                <div id="buttons">
                    <!--<button type="button" id="loadHeatmap" class="button1">Load Heat Map</button>-->
                    <button class="button1" type="button" id="loadHeatmap"> Load Heatmap </button>

                    <!--<button type="button" id="testButton"></button>-->
                </div>
                <h5 class="note" id="loadNote">NOTE: Select the time range for the heatmap/placemarks that you would like to see.</h5>
            </div>

        </div>
        <div class="container floating-Box" id="globe" style="width: 900px;
    height: 900px;
    margin-left: 375px;
    padding: 0px;">
            <h4 class="note text-center" id="globeNote">NOTE: Zoom in to an eye distance of less than 4,500 km to view the heatmap.</h4>
            <canvas class="floating-Box" style="width: 900px;
    height: 900px;" id="canvasOne">
                Your browser does not support HTML5 Canvas.
            </canvas>
        </div>

        <div id="popover" style="border-style: solid;" hidden></div>
    </div>
    <!--<div style="border-style: solid; position: absolute; left: 749px; top: 775px"></div>-->
    <div id="dvData" style="width: 1150px; margin-left: 100px">
        <h4 class="note text-center">NOTE: The data table displays the entries that are within your viewing range. Selecting one of the entries will highlight the placemark.</h4>
        <table id="dataDisplay" style="width: 100%;">
            <thead>
            <tr>
                <!--<th>ID</th>-->
                <!--&lt;!&ndash;<th>Latitude</th>&ndash;&gt;-->
                <!--&lt;!&ndash;<th>Longitude</th>&ndash;&gt;-->
                <!--<th>Date</th>-->
                <!--<th>Country</th>-->
                <!--<th>Main_Crop</th>-->
                <!--<th>Irrigation</th>-->
                <!--<th>Crop_Stage</th>-->
                <!--<th>Crop_System</th>-->
                <!--<th>Crop_Field_Size</th>-->
                <!--<th>Crop_Field_Size_Unit</th>-->
                <!--<th>Rain_Amount</th>-->
                <!--<th>Total_FAW</th>-->

                <th>Transaction_ID</th>
                <th>Field Owner</th>
                <th>Field Name</th>
                <th>Date</th>
                <th>Crop_Health</th>
                <th>Main_Crop</th>
                <th>Irrigation</th>
                <th>Crop_Stage</th>
                <th>Farming_System</th>
                <th>Crop_Field_Size</th>
                <th>Crop_Field_Size_Unit</th>
                <th>Rain_Amount</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
    var UserRole = "<%= user.userrole %>";
    $(document).ready(function() {
        $(function () {
            flatpickr(".date", {
                dateFormat: "Y-m-d",
                // defaultDate: "2018-07-26",
                minDate: '2017-11-30',
                time_24hr: true
            });
        });
    });
    function dropDown() {
        console.log(UserRole);
        if (UserRole === "Admin") {
            document.getElementById("userMenuAdmin").classList.toggle("show");
        } else if (UserRole === "Regular") {
            document.getElementById("userMenuRegular").classList.toggle("show");
        }
    }
    window.onclick = function(event) {
        if (!event.target.matches('.dropbutton')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
</body>
</html>